* {
    font-size: 10px;
}



h1, h2 {
    color: blue;
}

h1:hover {
    color: aqua;
    cursor: pointer;
}

.cor-laranja {
    color: orange;
}

.cor-laranja:hover {
    color: rgb(224, 180, 99);
    cursor: pointer;
}

#titles {
    background-color: aqua;
}

.card img {
    width: 200px;
    height: 200px;
}